<!DOCTYPE html>
<html>
<head>
    <title>Génie en Herbe</title>
</head>
<body>
    <br><br><br>
    <div id="question-container">
        <p id="question">{{ questionText }}</p>
    </div>

    <div id="answer-container">
       <input type="text" [(ngModel)]="userAnswer" #answerField (keydown.enter)="checkAnswer(answerField.value)" [disabled]="isInputDisabled" placeholder="Tape ta réponse ici">
       <br>
       <button (click)="checkAnswer(userAnswer)">Confirme</button> 
    </div>

    <div id="result" *ngIf="quizStarted">
        <div *ngIf="isCorrect" class="feedback correct-feedback"> {{ previousQuestion }} <br>  {{ previousAnswer }}</div>
        <div *ngIf="!isCorrect" class="feedback wrong-feedback"> {{ previousQuestion }}  <br> {{ previousUserAnswer }} <br> {{ previousAnswer }}</div>
    </div>

    <div id="result" *ngIf="quizStarted">
        <button *ngIf="!isCorrect" (click)="cancelLastAnswer()">WTF, ma réponse était bonne </button> 
    </div>

    <br>
    <br>
    <div id="score-container">
        <h1 id="scoreTitle">STATS</h1>
        <p> Correct Answers: <span id="goodScore"> {{ correctAnswerCtn }}</span></p>
        <p> Wrong Answers: <span id="wrongScore"> {{ wrongAnswerCtn }}</span></p>
        <p> Rate: <span id="rate"> {{ rateCorrectAnswer }}</span></p>
        <p> Time to answer (s): <span id="time"> {{ timeToAnswer }} </span></p>
        <p> Mean time (s): <span id="meanTime"> {{ meanOfTimes }} </span></p>
    </div>

    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
</body>
</html>