<!DOCTYPE html>
<html>
<head>
    <title>Génie en Herbe</title>
</head>
<body>
    <h1>Génie en herbe</h1>
    
    <div id="question-container">
        <p id="question">{{ questionText }}</p>
    </div>

    <div id="answer-container">
        <label for="answer">Ta réponse:</label>
       <input type="text" [(ngModel)]="userAnswer" #answerField (keydown.enter)="checkAnswer(answerField.value)" [disabled]="isInputDisabled" placeholder="Tape ta réponse ici">
       <button (click)="checkAnswer(userAnswer)">Confirme</button> 
    </div>

    <div id="result">
  <!-- Show green div when the answer is correct -->
        <div *ngIf="isCorrect" class="feedback correct-feedback">Bonne Réponse: {{ previousQuestion }}  {{ previousAnswer }}</div>
  <!-- Show red div when the answer is wrong -->
        <div *ngIf="!isCorrect" class="feedback wrong-feedback">Mauvaise Réponse: {{ previousQuestion }}  {{ previousAnswer }}</div>
    </div>
    
</body>
</html>