/* Reset some default browser styles */
body,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, serif;
    background-color: #f0f0f000;
    text-align: center;
}

.mainTitle{
    background-color: #ff7700;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

#question-container {
    background-color: #000000;
    border: 1.5px solid #000000;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 800px;
}

#question {
    font-size: 21px;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
}

#answer-container {
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #fff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #c4b9b9;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.correct-feedback {
    background-color: #4CAF50;
    color: white;
}

.wrong-feedback {
    background-color: #f5220e;
    color: white;
}

/* Add hover effect to button */
button:hover {
    background-color: #ff8c00;
}

.scoreTitle {
    color: #333;
}